{:linters {:unresolved-symbol   {:exclude [(compojure.api.sweet/context)
                                           (clojure.java.jdbc/with-db-transaction)]}
           :unused-namespace    {:exclude [cljs.repl]}
           :unused-referred-var {:exclude {cljs.repl [Error->map
                                                      apropos
                                                      dir
                                                      doc
                                                      error->str
                                                      ex-str
                                                      ex-triage
                                                      find-doc
                                                      print-doc
                                                      pst
                                                      source]}}}}
