/.idea
/target

.DS_Store
.lein-env
.lein-failures
.lein-repl-history
.nrepl-port
*.iml

auditlog.log
build.xml
eastwood.out
forms-analyzed.txt
forms-emitted.txt
forms-read.txt

node_modules/

.projectile

*.log
*.pid

.localstack/
/volume
