/.idea
/target

/.java-version

.DS_Store
.lein-env
.lein-failures
.lein-repl-history
.nrepl-port
*.iml

auditlog.log
build.xml
eastwood.out
forms-analyzed.txt
forms-emitted.txt
forms-read.txt

node_modules/
package-lock.json

.projectile
pom.xml

*.log
*.pid

.localstack/
