{:db {:database-name     "postgres"
      :pool-name         "liiteri-pool"
      :username          "postgres"
      :password          "postgres"
      :server-name       "localhost"
      :port-number       5432
      :minimum-idle      20
      :maximum-pool-size 20}
 :file-store {:filesystem {:base-path "/tmp/liiteri-tests"}
              :attachment-mime-types ["text/plain"
                                      "image/jpeg"
                                      "image/png"
                                      "image/gif"
                                      "application/rtf"
                                      "application/pdf"
                                      "application/vnd.oasis.opendocument.text"
                                      "application/msword"
                                      "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                      "application/vnd.oasis.opendocument.spreadsheet"
                                      "application/vnd.ms-excel"
                                      "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"]}
 :server {:port 16833}
 :antivirus {:clamav-url            "http://tentti.hard.ware.fi:8765"
             :mock?                 true
             :poll-interval-seconds 5}}
