{:db {:database-name     "liiteri"
      :pool-name         "liiteri-pool"
      :username          "oph"
      :password          "oph"
      :server-name       "localhost"
      :port-number       5434
      :minimum-idle      20
      :maximum-pool-size 20}
 :file-store {:engine :s3
              :filesystem {:base-path "/tmp"}
              :s3 {:bucket "opintopolku-untuva-liiteri"
                   :region "eu-west-1"
                   :credentials-profile "oph-opintopolku-session-dev"}
              :attachment-mime-types ["text/plain"
                                      "image/jpeg"
                                      "image/png"
                                      "image/gif"
                                      "application/rtf"
                                      "application/pdf"
                                      "application/vnd.oasis.opendocument.text"
                                      "application/msword"
                                      "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                      "application/vnd.oasis.opendocument.spreadsheet"
                                      "application/vnd.ms-excel"
                                      "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"]}
 :server {:port 16832}
 :audit-log {:path "/tmp/auditlog_liiteri.log"}
 :antivirus {:clamav-url            "http://localhost:8765"
             :mock? false
             :poll-interval-seconds 5}
 :file-cleaner {:poll-interval-seconds 100}}
