{:db {:database-name     "liiteri"
      :pool-name         "liiteri-pool"
      :username          "oph"
      :password          "oph"
      :server-name       "localhost"
      :port-number       16433
      :minimum-idle      20
      :maximum-pool-size 20}
 :file-store {:engine :s3
              :s3 {:bucket "opintopolku-untuva-liiteri"
                   :region "eu-west-1"
                   }
              :attachment-mime-types ["text/plain"
                                      "image/jpeg"
                                      "image/png"
                                      "image/gif"
                                      "image/tiff"
                                      "image/webp"
                                      "image/heic"
                                      "application/rtf"
                                      "application/pdf"
                                      "application/vnd.oasis.opendocument.text"
                                      "application/msword"
                                      "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                      "application/vnd.oasis.opendocument.spreadsheet"
                                      "application/vnd.ms-excel"
                                      "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                      "application/x-matroska"
                                      "audio/aac"
                                      "audio/ogg"
                                      "audio/wav"
                                      "audio/x-wav"
                                      "audio/vnd.wave"
                                      "audio/wave"
                                      "audio/webm"
                                      "audio/3gpp"
                                      "audio/3gpp2"
                                      "audio/mp3"
                                      "audio/m4a"
                                      "audio/aiff"
                                      "audio/x-aiff"
                                      "audio/x-ms-wma"
                                      "audio/mpeg"
                                      "audio/x-matroska"
                                      "video/x-m4v"
                                      "video/x-matroska"
                                      "video/x-msvideo"
                                      "video/mpeg"
                                      "video/ogg"
                                      "video/webm"
                                      "video/3gpp"
                                      "video/3gpp2"
                                      "video/mp4"
                                      "video/MP2T"
                                      "video/quicktime"
                                      "video/x-ms-wmv"
                                      "video/x-ms-vob"]}
 :server {:port 16833}
 :access-log {:path "/tmp/access_liiteri"}
 :audit-log {:path "/tmp/auditlog_liiteri.log"}
 :app-log {:path "/tmp/app_liiteri.log"}
 :bucketav {:scan-request-queue-name "bucketav-scan-requests"
            :scan-result-queue-name "bucketav-scan-results"}
 :antivirus {:clamav-url            "http://localhost:8765"
             :mock?                 true
             :poll-interval-seconds 5
             :max-retry-count 5
             :retry-wait-minutes 5}
 :file-cleaner {:poll-interval-seconds 100}
 :file-delete-cleaner {:poll-interval-seconds 100}
 :mime-fixer {:poll-interval-seconds 5}
 :preview-generator {:poll-interval-seconds 5
                     :preview-page-count 19
                     :pdf {:dpi 150}}}
