{:db {:database-name     "liiteri"
      :pool-name         "liiteri-pool"
      :username          "oph"
      :password          "oph"
      :server-name       "localhost"
      :port-number       5435
      :minimum-idle      20
      :maximum-pool-size 20}
 :file-store {:engine :filesystem
              :filesystem {:base-path "/tmp/liiteri-tests"}
              :attachment-mime-types ["text/plain"
                                      "image/jpeg"
                                      "image/png"
                                      "image/gif"
                                      "application/rtf"
                                      "application/pdf"
                                      "application/vnd.oasis.opendocument.text"
                                      "application/msword"
                                      "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                      "application/vnd.oasis.opendocument.spreadsheet"
                                      "application/vnd.ms-excel"
                                      "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"]}
 :server {:port 16833}}
